<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/css/style.css">
	
	<title>Navigation Bar</title>

</head>
<body>

	<nav class="navbar">
		<div class="navdiv">
			
			<div class="col-sm-8 col-md-5">
				<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="q">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
				</form>
			</div>

			<ul>
				<li><a href="/">Students</a></li>
				<li><a href="/course">Courses</a></li>
				<li><a href="/college">Colleges</a></li>
				<button><a href="#">Logout</a></button>
			</ul>

		</div>
	</nav>
    <div class="container">{% block content %} {% endblock %}</div>
</body>
</html>